# Project Core (Relying on Colab's default CUDA-compatible PyTorch)

# Data Processing & Analysis
pandas>=2.0.0
numpy<2.0.0
scikit-learn
tqdm
scipy

# Media Handling
opencv-python
moviepy>=2.0.0
soundfile
facenet-pytorch>=2.6.0

# Visualization & Notebooks
matplotlib
seaborn
jupyter
notebook

# Utilities
gdown
